.agent {
    height: 342px;
    background: url(../../img/agent_bg.jpg) center center/cover no-repeat;
}

.agent__wrap {
    text-align: center;
}

.img__wrap {
    margin: 58px 0 20px 0;
    display: inline-block;
    text-align: center;
    width: 102px;
    line-height: 102px;
    border: 1.0px solid #ffffff;
    border-radius: 100%;
}

.agent__img {
    vertical-align: middle;
}

.agent__title {
    font-size: 26px;
    line-height: 23px;
    font-weight: 700;
    color: $text-color;
    padding: 0 0 22px 0;
}

.agent__text {
    font-size: 19px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
}